rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    match /players/{uid} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == uid;
    }

    match /rooms/{roomId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
      
      match /world/{blockId} {
        allow read: if isAuthenticated();
        allow write: if isAuthenticated();
      }
    }
  }
}
